<div layout="row" flex layout-align="center start" class="step_2 mg_top_20" layout-margin>
    <div flex="90" layout="column">
        <div class="md-whiteframe-1dp bg_white" layout="column">
            <div class="pd_left_20 pd_right_20" >
                <h3>Download:</h3>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-align="space-around center">
                <div layout="row" flex layout-align="center center">
                    <div flex class="mg_20" layout="column" layout-align="center center">
                        <div class="mg_20 pd_12 download_hex_msg">
                            Download the hex code and flash your device. You can download the
                            hex file from
                            <a href="/">here</a>.
                        </div>
                        <div style="opacity:0.4; color:grey;" class="mg_20">
                            <i class="material-icons md-200 cursor_pointer">cloud_download</i>
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" class="pd_12">
                <div>
                    <md-button class="md-raised" ui-sref="client.devices.add.step_1">Back</md-button>
                </div>
                <span flex></span>
                <div>
                    <md-button class="md-raised md-accent" ui-sref="client.devices.add.step_3">Next</md-button>
                </div>
            </div>
        </div>
    </div>
</div>